button {
    box-shadow: inset 0 0 2px green;
    background-color: #dfd;
    cursor: pointer;
}

input[type="text"] {
    box-shadow: inset 0 0 2px red;
    background-color: #fdd;
    cursor: text;
}

* {
    padding: 0.5rem;
}

* {
    gap: 0.5rem;
}

* {
    box-shadow: inset 0 0 1px gray;
}

h2 {
    box-shadow: inset 0 0 1px orange;
    background-color: #fed;
}

section {
    box-shadow: inset 0 0 1px orange;
}

section > p {
    flex-direction: row;
}
