* {
}

h2 {
    background-color: #fed;
    box-shadow: inset 0 0 2px #f84;
    justify-content: center;
}

h3 {
    background-color: #dfe;
    box-shadow: inset 0 0 2px #4f8;
    justify-content: center;
}

section {
    background-color: white;
    box-shadow: inset 0 0 2px #ccc;
}

section > *:not(div.advanced, div.list),
div.advanced > *,
div.list > * {
    flex-direction: row;
}

button {
    background-color: #efe;
    box-shadow: inset 0 0 2px green;
    cursor: pointer;
}

input[type="text"] {
    background-color: #fee;
    box-shadow: inset 0 0 2px red;
    cursor: text;
}

/* https://cssgradient.io/blog/gradient-patterns/ */
/* checkerboard */
html {
    --c1: #55b;
    --c2: #b99;
    --sz: 4px;
    --hsz: calc(var(--sz) / 2);
    --nhsz: calc(0px - var(--hsz));
    background-color: var(--c1);
    background-image:
        linear-gradient(45deg, var(--c2) 25%, transparent 25%),
        linear-gradient(-45deg, var(--c2) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--c2) 75%),
        linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--sz) var(--sz);
    background-position: 0 0, 0 var(--hsz), var(--hsz) var(--nhsz), var(--nhsz) 0px;
}

body {
    background-color: transparent;
}

div.advanced > p {
    display: none;
}

div.advanced.visible > p {
    display: flex;
}

div.advanced > h3 {
    cursor: pointer;
}

section#console {
    display: none; /* fixme */
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}
